.header {
	height: 20%;
	width: 100%;
	padding: 10px;
}

h3 {
	margin-top: 10px;
}

.main-content {
	height: 80%;
	width: 100%;
	padding: 5px;
}

#wizard {
	margin-top: 3%
}

.bg-dark-custom {
	background-color: #474e5d;
	color: #ffffff;
}

label {
	font-weight: normal;
}

#the_loader {
	position: fixed;
	/* display: none; */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	cursor: not-allowed;
}

.lds-spinner {
	top: 45%;
	left: 45%;
}

.wizard>.content>.body {
	position: relative;
}

#file_list_table {
	background-color: white;
}

.table-bordered, .table-bordered tr, .table-bordered td, .table-bordered th
	{
	border: 1px solid black;
}

.err-message {
	color: red;
}

table {
	width: 100%;
	/* table-layout: fixed;	 */
	word-wrap: break-word;
}

.column-delimiter, .row-delimiter, .header-row-index {
	width: 100%;
}

/*
================================================
============ Chart section styles ============== 
================================================
*/
#chart-types {
	margin: 4px, 4px;
	padding: 16px;
	text-align: justify;
}

#chart-types table {
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-collapse: separate;
	border-spacing: 12px;
	padding: 4px;
}

#chart-types tr {
	padding: 5px;
	margin: 5px;
}

.chart-type-block {
	border: 0.5px solid #9ae8f1;
	border-radius: 10px;
	padding: 12px 24px;
	margin: 5px;
	background-color: #f6fdfe;
}

.chart-type-block img {
	width: 30px;
	height: 30px;
}

.chart-type-title {
	position: relative;
	top: 8px;
	padding: 12px 24px;
	margin: 5px;
}

.chart-zone {
	margin: auto;
	padding: 14px;
	border: none;
}

.chart-options {
	border-radius: 10px;
	padding: 5px;
	margin: 14px 28px;
}

.chart-options-menu {
	margin-left: 10px;
	padding-bottom: 5px;
}

.chart-options-menu form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chart-options-menu span {
	color: #27a7d8;
	background-color: #f6fdfe;
	padding: 5px 8px;
	border: 0.5px solid #9ae8f1;
	border-radius: 10px;
}

#chart-container hr {
	background-color: black;
}

#chart-single-option table {
	padding: 5px, border: 0.5px solid #9ae8f1;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 5px;
}

#chart-single-option table, th, td {
	text-align: center;
}

#submit-chart-options {
	text-align : center	
}

.data-fields {
	background-color: pink;
	padding : 8px;	
	margin:8px;
}

.c3-axis-y text {
	font-size: 15px;
}

.c3-axis-x text {
	font-size: 15px;
}