/* this css file is specifically created for dashboard pages 
for customization and overriding of some of the other css libraries */

.header {
	height: auto;
}

html, body, .main-wrapper, .main-container {
	height: 100%;
}

.grid-stack-item-content{
	border:1px solid black;
	background-color:white;
}

.btn-remove{
	z-index:90;
	display: none;
}

.grid-stack-item-content:hover .btn-remove{
	display: block;
}

#grid2 .grid-stack-item-content{
	background-color:#f0ad4e;
}


